@import "_constants.styl"

.media-library
  display flex
  flex-grow 1
  padding 3px
  overflow-y auto

  .folder > .name, .track
    cursor pointer

  .folder-content
    display none
    &.opened
      display block
