@import "_constants.styl"
@import "_slider.styl"

.player-controls
  border-bottom $block-border-width solid $block-border-color
  display flex
  flex-direction column
  min-height 110px
  padding 10px
  width 500px

  .player-controls-wrapper
    display flex
    flex-direction row
    justify-content space-between
    align-items center

  .progress-slider
    margin-top 20px
    width 100%

  .volume-slider
    width 100px

  .buttons
    display flex
    flex-grow 0
    .btn-player-control
      cursor pointer
      align-items center
      border 2px solid $block-border-color
      display flex
      height 50px
      justify-content center
      margin 1px
      width 50px

    .btn-player-control:hover
      background rgba(0, 0, 0, .2)

    .btn-player-control:active
      background rgba(0, 0, 0, .5)
