@import "_constants.styl"
@import "_media-library.styl"
@import "_player-controls.styl"
@import "_playlist.styl"

#player-root, [data-reactroot]
  height 100%
  user-select none
  color $block-border-color
  background-color $block-background-color

.player-view
  display flex
  width 100%
  height 100%

  .left-panel
    display flex
    flex-direction column
    justify-content start
    flex-grow 0
    border-right $block-border-width solid $block-border-color

  .right-panel
    display flex
    flex-direction column
    justify-content start
    flex-grow 1
